
body > div {
  background-color: #FCD;
}

body > div > blockquote {
	font-size: 80%;
}

div > article {
	padding: 30pt;
	margin: 30pt;

}

article  {
  font-size:13pt;
  font-family:"Times New Roman";
  background-color: #FFF;
}

article nav {
  width: 90%;
  margin: 0 auto; /* to centerable */
  text-align: center;
  background-color: #DDD;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
article nav p {
   padding:0; margin:3pt;
}

article nav p label {
   color: #534;
   font-family:Arial;
}


header, footer {
  padding-top:    3em;
  padding-bottom: 3em;
}
h1,h2,h3,h4 {
  font-family: Arial;
}

header h1 {
  text-align: center;
  font-size:18pt;
  background-color: #CEC;
}

section {
  padding-top:    1em;
}

section h1 {
  font-size:17pt;
  background-color: #ECE;
}
section h2 {
  font-size:15pt;
}
section h3 {
  font-size:13pt;
}
div.art{padding: 0; margin:0;}

p.art>label, p.par>label,
h1>label, h2>label, h3>label,
section.preamble h2 {
  color:#445;
  font-weight: bold;
}
